{% extends 'estoque/compra/base.html' %}

{% block cabecalho_descricao %}
    Formulário de compra de produtos.
{% endblock %}

{% block main_estoque%}
    <div class="card mb-4">

        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Formulário de compra
        </div>

        <div class="card-body">

            {% if perms.Core.add_lotecompra %}

                <form method="post">
                    {{ form.management_form }}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="form-row">
                        <div class="form-group">
                            <ul id="form_set">
                                {% for form_ in form %}
                                    <li class='no_error'>
                                        {{ form_ }}
                                        <input type="button" class="btn btn-danger btn-sm" value="Remover" onClick="remover_produto(event)">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary btn-sm" value="Adicionar" onClick="adicionar_produto(event)">
                            <input type="submit" class="btn btn-success btn-sm" value="Carregar">
                        </div>
                    </div>
                </form>

                <script defer>
                    function adicionar_produto()
                    {
                        // Obtem o indicie atual do formset e incrementa ...
                        let novo_index_form_set = parseInt(document.querySelector('#id_form-TOTAL_FORMS').value) + 1

                        // Atribui novo indicie ao formset
                        document.querySelector('#id_form-TOTAL_FORMS').value = novo_index_form_set

                        // Gera um novo nó de produto ...
                        let novo_produto_node = document.querySelector('#form_set').lastElementChild.cloneNode(true)

                        // Atribui novo indicie a esse novo nó gerado ...
                        novo_produto_node.innerHTML = novo_produto_node.innerHTML.replace(/-\d-/g, `-${novo_index_form_set}-`)

                        // Limpa os nos filhos que são inputs, menos o botão ...
                        Array.from(novo_produto_node.children).filter(node => node.tagName == 'INPUT' && node.type != 'button').forEach(input => input.value = '')

                        // Adiciona o novo no na lista de produtos ...
                        document.querySelector('#form_set').append(novo_produto_node)
                    }
                    function remover_produto(event)
                    {
                        // Obtem o indicie atual do formset e decrementa ...
                        let novo_index_form_set = parseInt(document.querySelector('#id_form-TOTAL_FORMS').value) - 1

                        // Atribui novo indicie ao formset ...
                        document.querySelector('#id_form-TOTAL_FORMS').value = novo_index_form_set

                        // Remove o nó alvo ...
                        event.target.parentNode.remove()

                        // Reatribui indicies dos produtos ...
                        Array.from(document.querySelector('#form_set').children).forEach((li, index) => {
                            Array.from(li.children).forEach(input => {
                                input.innerHTML = input.innerHTML.replace(/-\d-/g, `-${index}-`)
                            })
                        })
                    }
                </script>

            {% else %}

                <p>Você não tem permissão para comprar produtos.</p>

            {% endif %}
        </div>
    </div>
{% endblock %}
