{% extends 'estoque/compra/base.html' %}

{% block cabecalho_descricao %}

    Carga de lote de compra por arquivo .csv
    <br>
    Para fazer o download do modelo de arquivo <a href="{% url 'estoque-compra-arquivo_modelo' %}">Clique Aqui</a>.

{% endblock %}

{% block main_estoque%}
    <div class="card mb-4">

        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Importação de Arquivo
        </div>

        <div class="card-body">
            {% if perms.Core.add_lotecompra %}

                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                            {{ form }}

                        <input type="submit" class="btn btn-success btn-sm" value="Enviar">
                    </div>
                </form>

            {% else %}

                <p>Você não tem permissão para comprar produtos.</p>

            {% endif %}

        </div>
    </div>

{% endblock %}