{% extends 'estoque/cadastro/base.html' %}

{% block cabecalho_descricao %}
    Lotes de Compra
{% endblock %}

{% block main_estoque %}

    {% if perms.Core.view_lotecompra %}

        <div id="produtos_comprados_modal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="width: fit-content;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Lista de Produtos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="produtos_comprados" class="table table-bordered table-hover" data-server-side="true" data-ajax="/api/produtos_comprados/?format=datatables">
                            <thead>
                            <tr>
                                <th data-data="id">ID</th>
                                <th data-data="produto.nome">Nome</th>
                                <th data-data="preco">Preço Unitário</th>
                                <th data-data="quantidade">Quantidade Adiquirida</th>
                                <th data-data="custo">Custo</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="lotes_de_compra" class="table table-bordered table-hover" style="width: 70%" data-server-side="true" data-ajax="/api/lotes_de_compra/?format=datatables">
                        <thead>
                        <tr>
                            <th data-data="id">ID</th>
                            <th data-data="abertura">Abertura</th>
                            <th data-data="fechamento">Fechamento</th>
                            <th data-data="custo">Custo</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

        <script defer>
            let tabela_de_produtos_comprados = $('#produtos_comprados').DataTable({
                destroy: true,
                dom: 'lfrtip',
                language: {
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    zeroRecords: "Nenhum registro encontrado",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Registros indisponíveis",
                    paginate: {
                        previous: "Anterior",
                        next: "Próxima",
                    },
                    infoFiltered: "",
                    search: "Procurar"
                }
            })
            let tabela_de_lotes = $('#lotes_de_compra').DataTable({
                dom: 'lfrtip',
                language: {
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    zeroRecords: "Nenhum registro encontrado",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Registros indisponíveis",
                    paginate: {
                        previous: "Anterior",
                        next: "Próxima",
                    },
                    infoFiltered: "",
                    search: "Procurar"
                },
                drawCallback: function( settings ) {
                    $('tbody > tr').on('click', event => {
                        let id = event.target.parentElement.firstElementChild.innerText
                        tabela_de_produtos_comprados.ajax.url( `/api/produtos_comprados/?search=${id}&search_fields=lote__id&format=datatables` ).load();
                        $('#produtos_comprados_modal').modal('show')
                    })
                }
            })
           // $('#produtos_comprados_modal').on('hide.bs.modal', event => {
            //    $('#produtos_comprados').DataTable().clear().destroy()
            //})

        </script>

    {% else %}

        <p>Você não tem permissão para visualizar lotes de compras.</p>

    {% endif %}

{% endblock %}

<!-- TODO acordeon dos produtos no lote ... -->