{% extends 'estoque/cadastro/base.html' %}

{% block cabecalho_descricao %}
    Produtos
{% endblock %}

{% block main_estoque %}

    {% if perms.Core.add_produto %}

        <div class="card mb-4">
            <div class="card-body">
                <form action="" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    {{ form }}

                    <input type="submit" class="btn btn-success btn-sm" value="Cadastrar" />
                </form>
            </div>
        </div>

        <script defer>
            let input_feio = document.querySelector('textarea')
            input_feio.parentElement.innerHTML = input_feio.parentElement.innerHTML.replace('textarea', 'input')
        </script>

    {% else %}

        <p>Você não tem permissão para cadastrar um produto.</p>

    {% endif %}

    {% if perms.Core.view_produto %}

        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="produtos" class="table table-bordered table-hover" style="width: 70%" data-server-side="true" data-ajax="/api/produtos/?format=datatables">
                        <thead>
                            <tr>
                                <th data-data="id">ID</th>
                                <th data-data="nome">Nome</th>
                                <th data-data="preco">Preco</th>
                                <th data-data="quantidade">Quantidade</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

        <script defer>
            $('#produtos').DataTable({
                dom: 'lfrtip',

                language: {
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    zeroRecords: "Nenhum registro encontrado",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Registros indisponíveis",
                    infoFiltered: "",
                    search: "Procurar"
                }
            })
        </script>

    {% else %}

        <p>Você não tem permissão para visualizar produtos.</p>

    {% endif %}

{% endblock %}