{% extends 'site/base.html' %}

{% block main %}

    <h1 class="mt-4">
        {% block cabecalho_titulo %}
            Estoque
        {% endblock %}
    </h1>

    <div class="card mb-4">
        <div class="card-body">
            {% block cabecalho_descricao %}
                Principal
            {% endblock %}
        </div>
    </div>

    {% block main_estoque %}
    {% endblock %}

{% endblock %}